In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [27]:
dataset = pd.read_csv('Data.csv')

In [28]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [29]:
X = dataset.iloc[:, :-1].values

In [30]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [31]:
y = dataset.iloc[:, -1].values

In [32]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [33]:
from sklearn.preprocessing import Imputer

In [34]:
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)
imputer = imputer.fit(X[:,1:3])

In [35]:
X[:, 1:3] = imputer.transform(X[:,1:3])

In [36]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [37]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [38]:
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

In [39]:
onehotencoder = OneHotEncoder(categorical_features=[0])
X = onehotencoder.fit_transform(X)
X = X.toarray()

In [40]:
np.set_printoptions(suppress=True)
np.set_printoptions(precision=0)
X

array([[    1.,     0.,     0.,    44., 72000.],
       [    0.,     0.,     1.,    27., 48000.],
       [    0.,     1.,     0.,    30., 54000.],
       [    0.,     0.,     1.,    38., 61000.],
       [    0.,     1.,     0.,    40., 63778.],
       [    1.,     0.,     0.,    35., 58000.],
       [    0.,     0.,     1.,    39., 52000.],
       [    1.,     0.,     0.,    48., 79000.],
       [    0.,     1.,     0.,    50., 83000.],
       [    1.,     0.,     0.,    37., 67000.]])

In [41]:
labelencoder_y = LabelEncoder()
y = labelencoder_X.fit_transform(y)

In [42]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1], dtype=int64)

In [43]:
from sklearn.cross_validation import train_test_split

In [44]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [45]:
from sklearn.preprocessing import StandardScaler

In [48]:
sc_X = StandardScaler()
x_train = sc_X.fit_transform(x_train)
x_test = sc_X.transform(x_test)

In [53]:
x_train

array([[-1.,  3., -1.,  0.,  0.],
       [ 1., -0., -1., -0.,  0.],
       [-1., -0.,  1., -2., -2.],
       [-1., -0.,  1.,  0., -1.],
       [ 1., -0., -1.,  2.,  2.],
       [-1., -0.,  1., -0., -0.],
       [ 1., -0., -1.,  1.,  1.],
       [ 1., -0., -1., -1., -0.]])